html {
    font-family: "Nanum Gothic Coding", monospace;
    font-style: bold;
}

body {
    font-family: "Nanum Gothic Coding", monospace !important;
    margin: auto 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.navbar {
    background-color: beige !important;
    box-shadow: 5px 10px 25px black;
    padding-left: 10% !important;
    line-height: 1.5em !important;
    font-style: bold !important;
}

.container-fluid{
    background-color: rgb(182, 182, 163) !important;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;

}

.row {
    margin-top: 2% !important;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;

}

.row img{
    width: 100px;
    height: auto;
    box-shadow: 15px 15px 20px black;
    border-radius: 40px;
}

.intro {
    font-size: 1.5em;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    padding-top: 3%;

}

.intro h1 {
    margin-bottom: 10px;
}

.watermark {
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    padding: 20px;
    box-shadow: 5px 10px 25px black;
    justify-self: baseline;
    line-height: 2em;
}