/* <!--Why isn't this updating in github????--> */

html {
    font-family: "Nanum Gothic Coding", monospace;
    font-style: bold;
    background-color: rgb(7, 7, 68) !important;
}

body {
    font-family: "Nanum Gothic Coding", monospace !important;
    margin: auto 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    background-color: rgb(187, 188, 203) !important;
    color: rgb(0, 167, 112, 255) !important;
}

#nav {
    background-color: rgb(21, 32, 43, 255) !important;

}

.list {
    list-style: none;
}

.navbar {
    box-shadow: 3px 5px 20px rgb(0, 167, 112, 255);
    padding-left: 10% !important;
    line-height: 1.5em !important;
    font-style: bold !important;
    background-color: rgb(7, 7, 68) !important;

}

.container-fluid {
    background-color: rgb(0, 167, 112, 255) !important;
    border-radius: 3px;
    box-shadow: 2px 2px 2px black;

}

.row {
    margin-top: 2% !important;
    justify-content: center;
    text-align: center;
    font-size: 1.7em;

}

.row img {
    width: 100px;
    height: auto;
    box-shadow: 5px 10px 25px rgb(0, 167, 112, 255);
    border-radius: 40px;
}

.intro {
    font-size: 1.5em !important;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 60%;
    color: black;
    font-style: bold;
}

.intro h1 {
    margin-bottom: 10px;
    margin-top: 10%;
}

.intro2 { /*This isn't updating on my website*/
    font-size: 1.5em !important;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    width: 60%;
    color: black;
    font-style: bold;
}

.intro2 h1 { /*This isn't updating on my website*/
    margin-bottom: 10px;
    margin-top: 10%;
    text-align: center;
}

.intro3 { /*This isn't updating on my website*/
    font-size: 1.5em !important;
    margin: 50px auto;
    padding: 10px;
    text-align: left;
    width: 60%;
    color: black;
    font-style: bold;
}

.intro3 h2 { /*This isn't updating on my website*/
    margin-bottom: 120px;
    margin-top: 10%;
    text-align: center;
}

.intro3 a { /*This isn't updating on my website*/
    color: rgb(100, 160, 112, 230) !important;
    text-decoration: none !important;
}

.headImage img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;
    display: flex;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 20px;
    box-shadow: 5px 10px 25px rgb(0, 167, 112, 255);
}

.dialogue {
    font-size: 1.5em;
    margin: 0 auto;
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    color: rgb(0, 167, 112, 255);
    width: 60%;

}

.update {
    
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    width: 50%vw;
    color: black;
    
}

.dialogue a {
    color: rgb(100, 160, 112, 230) !important;
    text-decoration: none !important;
}

.dialogue a:hover {
    color: rgb(50, 150, 100, 255) !important;
    text-decoration: none !important;
}

.intro a {
    color: rgb(100, 160, 112, 230) !important;
    text-decoration: none !important;
}

.intro a:hover {
    color: rgb(50, 150, 100, 255) !important;
    text-decoration: none !important;
}

.intro h2 {
    margin-top: 80px;
}

.bookList {
    display: inline-block;
    list-style: none;
    text-align: left;
    white-space: wrap;
    margin-top: 25px;
    /* why isn't this working??? */
    color: rgb(55, 98, 16);
}

.bookList li {
    margin-bottom: 25px;
}

.watermark {
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    padding: 20px;
    box-shadow: 3px 5px 20px rgb(0, 167, 112, 255);
    ;
    justify-self: baseline;
    background-color: rgb(21, 32, 43, 255) !important;
    line-height: 2em;
    font-size: 1.6em;
}

.watermark2 {
    align-items: center;
    text-align: center;
    margin-top: 18%;
    padding: 20px;
    box-shadow: 3px 5px 20px rgb(0, 167, 112, 255);
    ;
    justify-self: baseline;
    background-color: rgb(21, 32, 43, 255) !important;
    line-height: 2em;
    font-size: 1.6em;
}


@media screen and (max-width: 800px) {
    .intro, .update, .list {
      width: 100%; 
    }

  }